*{
    margin: 0;
    padding: 0;
}

.board{
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{

    background-color: wheat;
}
.black{

    background-color: darkmagenta;
}
