*{
    margin: 0;
    padding: 0;
}

.board{
    width: calc(66px * 8);
    height: calc(66px * 8);
    display: flex;
    flex-wrap: wrap;
    border: 1px solid saddlebrown;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.white{

    background-color: wheat;
}
.black{

    background-color: darkmagenta;
}
.pieceLogo{
    position: relative;
    width: 56px;
    height: 56px;
}

.selected{
    background-color: dodgerblue;
}

.available{
    width: 10px;
    height: 10px;
    background-color: greenyellow;
    border-radius: 50px;
}
.piece-available{
    background-color: greenyellow;
}
